<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>

    Thank you for your successful purchase!
    <br> 
    Do leave a feedback on your UI experience & rating
    <br>
    submit and go back
    **
    in the about page, show all ratings & past feedback infintie scroll
    

</body>
</html>